nav {
    height: 50px;
    width: 100%;
    padding-top: 35px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);   
}
